<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/pt.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by Me....</p>
    <img class="portrait" src="/img/pt.png">
</div>

{{>footer}}
</body>
</html>
